*.DS_Store
.gradle
*.old
*.swp
*.class
*.out
*~
*.kate-swp
bin/
tmp/
target/
build/
gen/
logs/
*.stats
*.tmp
*.record
rebel.xml
*.log
.project
.settings
.classpath
repos/
.idea
*.iml
assets/src/main/resources/gfx/map
android/libs
android/src/main/libs
core/.apt_generated/
core/.factorypath
core/artemis-odb-processor-0.9.0.jar
*.jar
gen-external-apklibs
save.json
user.json
robovm-build
